


<div id="home">
	
	<div class="container">
		<div class="row">
			<div class="offset-by-one column sixteen columns home-main">
				<h1>Joan Haynsworth Art</h1>
				<div id="border-bottom"></div>
				<ul>
					<li><%= link_to "ARTWORK", projects_path %></li>
          <li><%= link_to "ABOUT", about_path %></li>
          <li><%= link_to "CONTACT", contact_path %></li>
				</ul>
			</div>
		</div>
	</div>

</div>

<script>
$(function(){

  mainUnderline();
  homeButtonAnimate();
  $('#home-button').on('click', function() {
    mainUnderline();
  });

});	
</script>
