/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header {
	background-image: url('dark_water2.jpg');
	height: 7em;
	width: 100%;
	opacity: .7;
}

header a {
	text-decoration: none;
}

header h4 {
	font-family: 'Tangerine', cursive;
}

a {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: darkgrey;
}

#main-nav {
	font-size: 20px;
}

#main-nav li {
	display: inline-block;
}

footer {
	border-top: 1px solid black;
	background-color: darkgrey;
	height: 60px;
	bottom: 0;
}

body {
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Julius Sans One', sans-serif;*/
	/*font-family: 'Belleza', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
}



