
#project-nav {
	padding-left: 2em;
	padding-top: 2em;
	padding-bottom: 5em;
}

#project-nav button {
	border: 1px solid black;
	width: auto;
}

#project-nav button:hover {
	background-color: lightgrey;
}

.project-main {
	background-color: purple;
}

.flowers {
	display: none;
	/*background-color: lightgreen;	*/
}

.flowers p {
	margin: 0;
}

.animals {
	display: none;
	/*background-color: lightyellow;*/
}

.animals p {
	margin: 0;
}

table {
	margin-left: 70px;
}

/*Show Page*/

#show-photo {
	margin-top: 3em;
	margin-bottom: 3em;
	
}

#show-photo img {
	box-shadow: 5px 5px 5px black;
}

#show-description {
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	margin-top: 3em;
	margin-left:10em;
	width: 20em;
	height: auto;
}







