
#project-form {
	padding: 0;
}

#project-nav {
	/*padding-left:;*/
	padding-top: 1em;
	/*padding-bottom: 20px;*/
	/*padding-bottom: 1em;*/
	background-color: lightgrey;
	height: auto;
	box-shadow: 3px 3px 3px grey;
}

#project-nav li {
	list-style-type: none;
	font-size: 19px;
	text-align: center;
	transition: all 0.2s ease;

}

#project-nav li:hover {
	border-bottom: 3px solid grey;
	cursor: pointer;
	/*font-weight: 900;*/
	color: grey;
}

.project-nav-hover {
	border-bottom: 3px solid grey;
	color: grey;
}

#project-main {
	
}

#project-main p {
	margin: 0;
}

#project-main img {
	box-shadow: 3px 3px 3px grey;
}

#project-main img:hover {
	opacity: .8;
}

th {
	font-size: 30px;
	border-bottom: 2px solid black;
}

.flowers {
	display: none;
}

.animals {
	display: none;
}

table {
	margin-left: 70px;
}

/*Show Page*/

#show-photo {
	margin-top: 3em;
	margin-bottom: 3em;
	
}

#show-photo img {
	box-shadow: 5px 5px 5px black;
}

#show-description {
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	margin-top: 3em;
	margin-left:10em;
	width: 20em;
	height: auto;
}







