#projects {
background-color: darkgrey;
}

#project-nav {

}

#animals {
	/*background-color: blue;*/
	/*display: none;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

