
#project-nav {

}

.project-main {
	background-color: purple;
}

.flowers {
	display: none;
	background-color: lightgreen;	
}

.animals {
	display: none;
	background-color: lightyellow;

}

table {
	margin-left: 70px;
}




