
#home {
    background-image: url('purple_flower.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#home-after {
    height: 200px;
}

.home-main {
    height: 300px;
    width: 800px;
    margin-top: 100px;
    text-align: center;
    padding-top: 40px;
    border-radius: 7px;
    position: relative;
    // background-color: white;
}


#border-bottom {
  border-bottom: 2px solid white;
  position: absolute;
  width: 0px;
  left: 50%;
  top: 50%;
   
}



.home-main h1 {
    color: white;
    font-size: 80px;
    margin-bottom: 50px;
    // font-family: 'Tangerine', cursive;
}

// .home-main li {
//     display: inline-block;
//     text-decoration: none;
//     padding: 5px;
// }

// .home-main li a {
//     font-size: 50px;
//     color: white;
// }

.home-main li {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid white;
    margin: 10px;
    width: 150px;
    opacity: .8;
    // box-shadow: 3px 3px 3px white;
    background-color: white;
    border-radius: 5px;
}

.home-main li a:visited {
    color: black;
}

// .home-main li:hover {
//     font-weight: 900;
//     opacity: .8;
//     box-shadow: 3px 3px 3px white;
// }

#about img {
    padding: 20px;
    height: 75%;
    width: 75%;
}

// #contact img {
//     height: 100%;
//     width: 100%;
//     position: relative;
//     margin: 40px;
// }

.marley  {
    margin: 20px;
}

.marley img {
    position: relative; 
    height: 100%;
    width: 100%;
}

.marley h3 {
    position: absolute; 
    top: 320px; 
    left: 0; 
    width: 100%;     
}

.marley h3 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.statement {
    padding: 40px;
}

.statement h3 {
    border-bottom: 1px solid black;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 520px; 
    height: 420px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow img {
	width: 500px;
	height: 400px;
}