<div id="about" class="container">
	<div class="row">
		<div class="four columns">
			<img src="/assets/jeh_profile.jpg" alt="">	
		</div>

		<div class="eight columns statement">
			
			<h3>About the Artist</h3>	
			<p>Joan Haynsworth's artistic talent stretches through all mediums of design and style. Her passion for nature, food, and animals are shown through the pieces she creates. Joan's portfolio consists of oil, pastel, and digital creations. Her first children's publication, "Animals I've Met... Sort of", which was designed and painted with her iPad, is perfect for children 0-8 years of age.</p>
			<p>Joan lives on a beautiful lake in New Jersey with her husband Bill. Some of Joan's inspirations are born during her explorations of some of her favorite l</p>

			<h3>Artist's Statement</h3>
			<p>I started painting as a hobby over 30 years ago and have enjoyed the process through the years. My love of gardening and photography seems to have worked well in conjunction with my enjoyment of painting flowers.</p>
			<p>My children's book was a fun way to share my animal paintings. I starting "painting" on the iPad and then I would paint the same using oil next time I was in my studio. You'll see examples of this in the animal section.</p>
		</div>
	</div>
</div>