<div id="about" class="container">
	<div class="row">
		<div class="four columns">
			<img src="/assets/jeh_profile.jpg" alt="">
		</div>
		<div class="eight columns statement">
			<h1>Artist's Statement</h1>
			
			<p>Joan Haynsworth's artistic talent stretches through all mediums of design and styles. Her passion for nature, food and animals are shown through the pieces she creates.</p>
			<p>I started painting as a hobby over 30 years ago and have enjoyed the process through the years. My love of gardening and photography seems to have worked well in conjunction with my enjoyment of painting flowers.</p>
			<p>My children's book was a fun way to share my animal paintings. I starting "painting" on the iPad and then I would paint the same using oil next time I was in my studio. You'll see examples of this in the animal section.</p>
		</div>
	</div>
</div>