<div class="container">
	<div class="row">

		<div class="eight columns">
			<div id="contact">
				<h3>Contact</h3>
					<p>Please email below for purchase inquiries or questions.</p>
					<p></p>
				<ul>
					<li>Email</li>
					<li>Facebook</li>
					<li></li>
				</ul>
			</div>	
		</div>

		<div class="four columns">
			<div id="marley">
				<img src="/assets/marley.jpg" alt="">
				<h3><span>This is Marley.</span></h3>
			</div>	
		</div>

	</div>
</div>
