<div class="container">
	<div class="row">

		<div class="seven columns">
			<h3>Contact</h3>
			<p>Information on how to purchase.</p>
			<ul>
				<li>Email</li>
				<li>Facebook</li>
				<li></li>
			</ul>
		</div>

		<div class="four columns">
			<div id="marley">
				<img src="/assets/marley.jpg" alt="">
				<h3><span>This is Marley</span></h3>
			</div>	
		</div>

	</div>
</div>
