<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div id="contact">
				<h3>Contact Information</h3>
			</div>
		</div>	
	</div>
</div>

<div class="container">
	<div class="row">

		<div class="four columns">
			<div id="email">
				<p>For purchase inquiries or questions, please email </p>
			</div>	
		</div>

		<div class="four columns">
			<div id="facebook">
				<p>Follow me of facebook!</p>
			</div>
		</div>

		<div class="four columns">
			<div id="marley">
				<img src="/assets/marley.jpg" alt="">
				<h3><span>This is Marley. <i class="fa fa-smile-o"></i></span></h3>
			</div>	
		</div>

	</div>
</div>
