<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div id="contact-header">
				<h3>Contact Information</h3>
				<p>All artwork is available for purchase. Email for purchase inquiries or questions and be sure to follow me on Facebook!</p>
			</div>
		</div>	
	</div>
</div>

<div  id="contact-main" class="container">
	<div class="row">
		<div>
			<div class="four columns">
				<div id="email">
					<p>Email me!</p>
					<ul>
						<li><a href="mailto:joanhaynsworthart@gmail.com"><i class="fa fa-envelope fa-5x"></i></a></li>
						<li><a href="mailto:joanhaynsworthart@gmail.com">joanhaynsworthart@gmail.com</a></li>
					</ul>
				</div>	
			</div>

			<div class="four columns">
				<div id="facebook">
					<p>Follow me of facebook!</p>
					<ul>
						<li><a href="https://www.facebook.com/joanhaynsworthart"><i class="fa fa-facebook-square fa-5x"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="four columns">
				<div id="marley">
					<img src="/assets/marley.jpg" alt="">
					<h3><span>This is Marley. <i class="smiley fa fa-smile-o"></i></span></h3>
				</div>	
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){
		contactEmailAnimate();
		contactFacebookAnimate();
		contactMarleyAnimate();
	});
</script>
