<div id="contact" class="container">
	<div class="row">

		<div class="four columns marley">
			<img src="/assets/marley.jpg" alt="">
			<h3>This is Marley</h3>
		</div>

		<div class="eight columns">
			<h1>Contact</h1>
		</div>

	</div>
</div>
