<h1>Welcome to Joan of Art!</h1>

<div>
	<h2>About the Artist</h2>
	<p>I started painting as a hobby over 30 years ago and have enjoyed the process through the years. My love of gardening and photography seems to have worked well in conjunction with my enjoyment of painting flowers.</p>
	<p>My children's book was a fun way to share my animal paintings. I starting "painting" on the iPad and then I would paint the same using oil next time I was in my studio. You'll see examples of this in the animal section.</p>
</div>