<div class="row">
	<div class="offset-by-one column" id="project-nav">
		<div class="two columns">Flowers</div>
		<div class="two columns">Animals</div>
		<div class="two columns">Landscapes</div>
		<div class="two columns">Greeting Cards</div>
		<div class="two columns">Children's Books</div>
	</div>
</div>

<div id="projects">
	<div class="row" id="animals">
		<h1>Animals</h1>
		<div>
			<% @animals.each do |animal| %>
				<%= image_tag animal.avatar.url(:medium) %>
				<p><%= animal.name %></p>
			<% end %>
		</div>	
	</div>
</div>