<h1>Animals</h1>

<% @animals.each do |animal| %>
	<%= animal.name %>
	<%= image_tag animal.avatar.url(:medium) %>
<% end %>

<h1>Flowers</h1>

<% @flowers.each do |flower| %>
	<%= flower.name %>
	<%= image_tag flower.avatar.url(:medium) %>
<% end %>